DATABASE_URL="file:./data/outreach.db"

OCEAN_IO_API_KEY=""
OCEAN_IO_BASE_URL="https://api.ocean.io"
OCEAN_IO_SEARCH_PATH="/v3/search/companies/preview"

PROSPEO_API_KEY=""
PROSPEO_BASE_URL="https://api.prospeo.io"

ANYMAIL_FINDER_API_KEY=""
ANYMAIL_FINDER_BASE_URL="https://api.anymailfinder.com"

BREVO_API_KEY=""
BREVO_BASE_URL="https://api.brevo.com"
BREVO_SENDER_EMAIL=""
BREVO_SENDER_NAME="Outreach Team"

MAX_SENDS_PER_RUN="5"
MAX_CONTACTS_PER_COMPANY="3"
RECONTACT_COOLDOWN_DAYS="30"
DEFAULT_DRY_RUN="true"
HTTP_TIMEOUT_MS="20000"
HTTP_RETRIES="3"
